.menu {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  z-index: 10;
  line-height: 40px;
  box-shadow: 2px 2px 4px #b09c59;
  background-color: #66462c;
}
.menu__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 90px;
  padding: 12px 0;
  background-color: #66462c;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 4px #b09c59;
}
.menu__item {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0;
}
.menu__item--language {
  font-size: 16px;
  padding: 0;
}
.menu__item--map {
  border-radius: 0 0 0 10px;
  padding-left: 0.5rem;
}
.menu__item--contact {
  padding-right: 1rem;
}
.menu__item--menu {
  padding-right: 0;
}
@media screen and (min-width: 350px) {
  .menu__item--menu {
    padding-right: 1rem;
  }
}
.menu__link {
  color: #fffdf7;
  text-decoration: none;
}
.menu__up {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #66462c;
  color: #66462c;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.menu__down {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #66462c;
  color: #fffdf7;
  margin: 0;
  padding: 0;
}

.menu__up .menu__item {
  background-color: #fffdf7;
  margin: 0 0 0 -1px;
}
@media screen and (min-width: 350px) {
  .menu__up .menu__item {
    padding-right: 1rem;
  }
}

.menu__link--map,
.menu__link--call {
  color: #66462c;
  display: flex;
  align-items: center;
}

.menu__hide {
  display: none;
}

.menu-opened {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  height: 90vh;
  margin: 0 0 10vh 15vw;
  line-height: 8vh;
  padding: 0;
  right: 0;
  z-index: 100;
  background-color: #66462c;
  box-shadow: -16px 16px 0 #b09c59;
  font-weight: 500;
}

.menu__cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
}

.menu__item--home {
  margin-bottom: 8vh;
  margin-top: 8vh;
}

.rooms-menu-opened {
  position: absolute;
  top: 16vh;
  text-align: center;
  z-index: 1000;
  display: block;
  width: 85vw;
  line-height: 8vh;
}

.menu__item--booking {
  margin-top: 8vh;
}

.contact-menu-opened {
  position: absolute;
  top: 72vh;
  text-align: center;
  z-index: 1000;
  display: block;
  width: 85vw;
  font-weight: 500;
  line-height: 8vh;
}

.menu-up__hidden {
  display: none;
}

.language-select--hidden {
  display: none;
}

.language-select__link {
  color: #66462c;
  text-decoration: none;
  font-size: 24px;
}

.language-select--display {
  display: block;
  width: 30vw;
  margin: 0 0 0 70vw;
  padding: 0;
  text-align: center;
  background-color: #fffdf7;
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
}

@media screen and (min-width: 700px) {
  .menu__item--map,
.menu__item--call,
.menu__item--menu,
.menu__item--home,
.menu__cross {
    display: none;
  }

  .menu__up {
    height: 0;
  }

  .menu__down {
    height: 50px;
    background-color: #66462c;
  }

  .menu__up .menu__item {
    background-color: #66462c;
  }

  .menu__item--language {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    color: #fffdf7;
    line-height: 50px;
  }

  .icon-open-svg {
    fill: #fffdf7;
  }

  .menu__hide {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: repeat(4, calc(100vw / 8));
    grid-template-rows: 50px;
    background-color: #66462c;
    width: 100%;
    margin: 0 calc(100vw / 8 * 2) 0 calc(100vw / 8 * 2);
    padding: 0;
    align-items: center;
  }

  .menu__link {
    text-align: center;
    width: 100%;
    border: 0;
  }

  .menu__item {
    padding: 0;
  }

  .menu__item--covid {
    position: absolute;
    top: 70px;
    right: 20px;
    color: #66462c;
    z-index: 1000;
  }

  .menu__item--booking {
    margin-top: 0;
  }

  .menu__item--contact {
    position: absolute;
    top: 0;
    right: 65px;
    z-index: 1000;
    line-height: 50px;
    width: calc(100vw / 8);
  }
}
@media screen and (min-width: 700px) and (min-width: 880) {
  .menu__item--contact {
    right: calc(100vw / 8);
  }
}
@media screen and (min-width: 700px) {
  .menu__item--rooms {
    position: absolute;
    top: 0;
    left: calc(100vw / 8);
    z-index: 1000;
    background-color: #66462c;
    line-height: 50px;
    width: calc(100vw / 8);
  }
}
@media screen and (min-width: 1200px) {
  .menu__hide {
    left: 0;
    width: 1200px;
    margin-left: calc((100vw - 1200px) / 2);
    margin-right: calc((100vw - 1200px) / 2);
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }

  .menu__item--rooms {
    left: calc((100vw - 1200px) / 2);
    width: calc(1200px / 9);
  }

  .menu__item--gallery {
    grid-column: 2/3;
  }

  .menu__item--language {
    right: calc((100vw - 1200px) / 2);
  }

  .menu__logo {
    left: calc((100vw - 60px) / 2);
    z-index: 1000;
  }

  .menu__item--contact {
    right: calc((100vw - 1200px) / 2);
    margin-right: calc(1200px / 9);
    width: calc(1200px / 9);
  }

  .menu__item--covid {
    position: static;
    grid-column: 6/7;
    color: #fffdf7;
  }
}
.footer {
  font-size: 14px;
  color: #66462c;
  margin-top: 48px;
}
.footer__up {
  background-color: #f9ecc1;
  border: 1px solid #b09c59;
  text-align: center;
}
@media screen and (min-width: 370px) {
  .footer__up {
    text-align: left;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 12px;
  }
}
.footer__logo {
  display: none;
}
@media screen and (min-width: 370px) {
  .footer__logo {
    width: 100%;
    display: block;
    padding-left: 12px;
    margin-top: 24px;
  }
}
.footer__title {
  margin-top: 24px;
}
.footer__text {
  background-color: #f9ecc1;
}
.footer__address {
  list-style-type: none;
  padding: 0;
}
.footer__contact {
  list-style-type: none;
  padding: 0;
}
.footer__copyright {
  background-color: #66462c;
  color: #fffdf7;
  text-align: center;
  padding: 0.5rem 0;
}
.footer__link--contact {
  color: #0b0500;
  text-decoration: none;
}
.footer__link {
  color: #fffdf7;
}
.footer__heart {
  width: 1rem;
  height: 1rem;
  margin: auto 0.25rem -0.2rem auto;
}

.header {
  text-align: center;
  padding-top: 80px;
}
.header__hero {
  position: relative;
  margin-bottom: 12px;
}
.header__img {
  width: 100%;
  height: 100%;
  display: block;
}
.header__motto {
  position: absolute;
  bottom: 12px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5), transparent);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: #fffdf7;
}

.button {
  text-transform: uppercase;
  background-color: #b09c59;
  border: 2px solid #715d18;
  color: #fffdf7;
  font-weight: 600;
  font-family: "Montserrat", "Roboto", sans-serif;
  padding: 0.7rem 1.4rem;
  box-shadow: 3px 3px 5px #66462c;
}
.button:hover {
  background: linear-gradient(45deg, #715d18, #b09c59);
}
.button:active {
  box-shadow: 1px 1px 3px #66462c;
  transform: translate(2px, 2px);
}
.button__link {
  color: #fffdf7;
  text-decoration: none;
  font-weight: 600;
}
.button__link--secondary {
  color: #66462c;
}

.button--secondary {
  background-color: transparent;
  color: #66462c;
  border: 1px solid #66462c;
}
.button--secondary:hover {
  background: linear-gradient(45deg, #f9ecc1, #b09c59);
}

.section__buttons {
  display: flex;
  justify-content: space-between;
}
.section__buttons--one {
  justify-content: flex-end;
}

.button--right {
  text-align: end;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.fieldset {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 12px;
}

.date__label {
  grid-column: 1/2;
}

.date__input {
  grid-column: 2/-1;
}

.date__checkbox--label {
  grid-column: 1/3;
}

.date__checkbox--input {
  grid-column: 3/-1;
}

.date__checkbox--hidden {
  display: none;
}

.date__checkbox--display {
  display: inline-block;
  grid-column: 1/-1;
}

.date__input--hidden {
  width: 100%;
}

.room__info--display {
  display: block;
}
.room__info--hidden {
  display: none;
}

.contact__list {
  list-style-type: none;
}
.contact__link {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  color: #0b0500;
  text-decoration: none;
}
.contact__icon {
  background-color: #b09c59;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  padding: 0.5em;
  margin-right: 1em;
}
.contact__icon--email {
  display: none;
}
@media screen and (min-width: 330px) {
  .contact__icon--email {
    display: inline-block;
  }
}

.map-box--xl {
  display: none;
}
@media screen and (min-width: 500px) {
  .map-box {
    display: inline-block;
    width: 100%;
  }
}
.map-box--mobile {
  width: 100%;
}
@media screen and (min-width: 500px) {
  .map-box--mobile {
    display: none;
  }
}

.room {
  margin-top: 24px;
}
.room__h2 {
  margin-left: 10vw;
  position: relative;
  padding-left: 1em;
}
.room__h2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -10vw;
  width: 10vw;
  height: 1em;
  border-bottom: 1px solid #66462c;
}
.room__img {
  width: calc(100% - 16px);
  margin-left: 16px;
  height: auto;
  box-shadow: -16px -16px 0 #b09c59;
}
.room__motto {
  font-weight: 600;
}

.section-room {
  margin-top: 48px;
}
.section-room__h2 {
  margin-left: 10vw;
  position: relative;
  padding-left: 1em;
}
.section-room__h2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -10vw;
  width: 10vw;
  height: 1em;
  border-bottom: 1px solid #66462c;
}
.section-room__img {
  max-width: 100%;
}

.covid {
  font-size: 14px;
}

.photoGallery__img {
  width: 100%;
  display: block;
  transition: transform 0.3s;
}

.photoGallery__info {
  text-align: center;
  margin: 0.5rem 0 1rem 0;
  font-size: 14px;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  margin: 0;
  transition: transform 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fffdf7;
  padding: 0.5rem 0 0.5rem 0;
}

.photoGallery__picture {
  overflow: hidden;
  display: block;
  position: relative;
  margin-top: 24px;
}

.photoGallery__picture:hover .photoGallery__info {
  transform: translateY(-100%);
}

.gallery__img {
  max-width: 100%;
  max-height: 550px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 12px;
}
@media screen and (min-width: 700px) {
  .gallery__img {
    max-height: none;
  }
}
@media screen and (min-width: 700px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    grid-auto-rows: auto;
    margin-bottom: 12px;
  }
  .gallery__img {
    margin-bottom: 0;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .gallery__important {
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
    height: 100%;
  }
  .gallery__high {
    grid-row: span 2;
  }
}

.slider__img {
  width: 100%;
}

.gallery--large-screen {
  display: none;
}
@media screen and (min-width: 700px) {
  .gallery--large-screen {
    display: grid;
  }
}

@media screen and (min-width: 700px) {
  .gallery--mobile {
    display: none;
  }
}

.not-found {
  position: relative;
}

.not-found__img {
  width: 100%;
}

.not-found__text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fffdf7;
  padding: 12px;
}

@media screen and (min-width: 700px) {
  .not-found {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 12px;
  }
  .not-found__text {
    grid-column: span 2;
    position: static;
  }
  .not-found__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .not-found__picture--high {
    grid-row: span 3;
    height: 100%;
  }
  .not-found__picture--large {
    margin-top: 1rem;
    grid-row: span 2;
    grid-column: span 2;
  }
}
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px;
  background-color: #fffdf7;
  color: #0b0500;
  line-height: 1.8;
  margin: 0;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  color: #b09c59;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 32px;
  color: #66462c;
}

h3 {
  font-size: 20px;
  color: #66462c;
}

.sup {
  padding-bottom: 0.7em;
  font-size: 75%;
}

.mobile-hidden {
  display: none;
}
@media screen and (min-width: 380px) {
  .mobile-hidden {
    display: inline-block;
  }
}

.main {
  padding: 12px;
}
@media screen and (min-width: 1200px) {
  .main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.benefits__list {
  list-style-type: none;
}
.benefits__item {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.benefits__icon {
  background-color: #b09c59;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  padding: 0.5em;
  margin-right: 1em;
}

.section {
  margin-top: 24px;
}
.section__h2 {
  margin-left: 40vw;
  position: relative;
  padding-left: 1em;
}
.section__h2--small {
  margin-left: 10vw;
  position: relative;
  padding-left: 1em;
}
.section__h2::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -40vw;
  width: 40vw;
  height: 1em;
  border-bottom: 1px solid #66462c;
}
.section__h2--small::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -10vw;
  width: 10vw;
  height: 1em;
  border-bottom: 1px solid #66462c;
}
.section__picture {
  position: relative;
}
.section__picture {
  position: absolute;
}
.section__img {
  width: 60%;
}
.section__img--booking {
  width: 100%;
}
.section__img--right {
  margin-left: 40%;
  margin-top: -48px;
  box-shadow: -16px -16px 0 #b09c59;
}
.section__motto {
  font-size: 24px;
  font-weight: 600;
}

.section__picture--cottage {
  display: block;
  position: relative;
}

.section__img--cottage {
  transition: transform 0.3s;
  display: block;
}

.section__info--cottage {
  text-align: center;
  margin: 0.5rem 0 1rem 0;
  font-size: 14px;
  position: absolute;
  width: 60%;
  top: 24px;
  left: 0;
  margin: 0;
  transition: transform 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fffdf7;
  padding: 0.5rem 0;
}

.section__info--gerta {
  margin-left: 40%;
}

.figcaption-display {
  display: block;
}

.section__picture--cottage:hover .section__img--cottage {
  transform: scale(1.1);
}

.section__picture--cottage:hover .section__info--cottage {
  transform: scale(1.1);
}

.important-banner-text {
  background-color: #f9ecc1;
  border-top: 1px solid #b09c59;
  border-bottom: 1px solid #b09c59;
  font-size: 24px;
  font-weight: 600;
  color: #66462c;
  text-align: center;
  padding: 1em 0;
}

.text-right {
  text-align: end;
}/*# sourceMappingURL=style.css.map */