$primary: #b09c59;
$primmaryVariant: #f9ecc1;
$secondary: #66462c;
$light: #fffdf7;
$dark: #0b0500;
$error: #bb0a21;

$spacer: 24px;
$spacerL: 48px;

$font-default: 'Montserrat', 'Roboto', sans-serif;
$font-special: 'Playfair Display', serif;

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: $font-default;
  font-size: 16px;
  background-color: $light;
  color: $dark;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-family: $font-special;
}

h1 {
  color: $primary;
  text-align: center;
  font-size: 40px;
  grid-column: 1/-1;
  margin: 0;
}

h2 {
  font-size: 32px;
  color: $secondary;
}

h3 {
  font-size: 20px;
  color: $secondary;
}

sup {
  padding-bottom: 0.7em;
  font-size: 75%;
}

.wrapper {
  margin-top: 100px;
  padding: $spacer/2;
}

button {
  text-transform: uppercase;
  background-color: $primary;
  border: $primary;
  color: $light;
  border-radius: 4px;
  font-weight: 600;
  font-family: $font-default;
  padding: 1rem 2rem;
}

.button {
  &__link {
    color: $light;
    text-decoration: none;
  }
}

.menu {
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 75px;
    background-color: $secondary;
    border-radius: 0 0 10px 10px;
  }

  &__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;

    &--language {
      font-size: 16px;
    }

    &--covid {
      border-radius: 0 0 0 10px;
      color: $secondary;
    }
  }

  &__link {
    color: $light;
    text-decoration: none;
  }

  &__up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $secondary;
    color: $secondary;
    margin: 0;
    padding: 0;
    border-radius: 0 0 0 10px;
    font-size: 12px;
  }

  &__down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $secondary;
    color: $light;
    margin: 0;
    padding: 0.5rem 0;
  }
}

.menu__up .menu__item {
  background-color: $light;
}

.menu__link--covid,
.menu__link--map,
.menu__link--call {
  color: $secondary;
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}

.header {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: $spacer;
  position: relative;

  &__left {
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__motto {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
  }

  &__button {
    position: absolute;
    right: -120px;
    bottom: 0;
    padding: 1rem 2rem;
  }
}

.benefits {
  &__list {
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  &__icon {
    background-color: $primary;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 0.5em;
    margin-right: 1em;
  }
}

.section {
  margin-top: $spacer;

  &__h2 {
    margin-left: 40vw;
    position: relative;
    padding-left: 1em;
  }
  &__h2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -40vw;
    width: 40vw;
    height: 1em;
    border-bottom: 1px solid $secondary;
  }

  &__picture {
    position: relative;
  }
  &__picture {
    position: absolute;
  }

  &__img {
    width: 60%;
    &--booking {
      width: 100%;
    }
  }

  &__img--right {
    margin-left: 40%;
    margin-top: -48px;
    box-shadow: -16px -16px 0 $primary;
  }

  &__motto {
    font-size: 24px;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    &--one {
      justify-content: flex-end;
    }
  }
}

.room {
  margin-top: $spacer;

  &__h2 {
    margin-left: 10vw;
    position: relative;
    padding-left: 1em;
  }

  &__h2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -10vw;
    width: 10vw;
    height: 1em;
    border-bottom: 1px solid $secondary;
  }

  &__img {
    width: calc(100% - 16px);
    margin-left: 16px;
    height: auto;
    box-shadow: -16px -16px 0 $primary;
  }

  &__motto {
    font-weight: 600;
  }

  &__button {
    text-align: end;
  }
}

.price {
  background-color: $primmaryVariant;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  font-size: 24px;
  font-weight: 600;
  color: $secondary;
  text-align: center;
  padding: 1em 0;
  margin-bottom: $spacerL;
}

.section-room {
  margin-top: $spacerL;

  &__h2 {
    margin-left: 10vw;
    position: relative;
    padding-left: 1em;
  }

  &__h2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -10vw;
    width: 10vw;
    height: 1em;
    border-bottom: 1px solid $secondary;
  }

  &__img {
    max-width: 100%;
  }
}

.footer {
  font-size: 14px;
  color: $secondary;
  margin-top: $spacerL;
  &__up {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: $spacer;
    background-color: $primmaryVariant;
    border: 1px solid $primary;
  }

  &__logo {
    width: 100%;
    padding-left: $spacer;
    margin-top: $spacer;
  }

  &__title {
    margin-top: $spacer;
  }

  &__text {
    background-color: $primmaryVariant;
  }

  &__address {
    list-style-type: none;
    padding: 0;
  }

  &__contact {
    list-style-type: none;
    padding: 0;
  }

  &__copyright {
    background-color: $secondary;
    color: $light;
    text-align: center;
    padding: 0.5rem 0;
  }

  &__link--contact {
    color: $dark;
    text-decoration: none;
  }

  &__link {
    color: $light;
  }
}
