@use 'base/colors';
@use 'base/typography';
@use 'layout/navigation';
@use 'components/buttons.scss';
@use 'pages/booking';

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: typography.$font-default;
  font-size: 16px;
  background-color: colors.$light;
  color: colors.$dark;
  line-height: 1.8;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: typography.$font-special;
}

h1 {
  color: colors.$primary;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 32px;
  color: colors.$secondary;
}

h3 {
  font-size: 20px;
  color: colors.$secondary;
}

sup {
  padding-bottom: 0.7em;
  font-size: 75%;
}

.main {
  padding: typography.$spacer/2;
}

.mobile-hidden {
  display: none;
  @media screen and (min-width: 380px) {
    display: inline-block;
  }
}

.header {
  text-align: center;
  padding-top: 80px;

  &__hero {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__motto {
    position: absolute;
    bottom: typography.$spacer/2;
    width: 100%;
    text-align: center;
    color: colors.$primmaryDark;
    font-weight: 600;
    margin-bottom: 0;
    background-image: linear-gradient(colors.$light, transparent);
    backdrop-filter: blur(6px);
  }
}

.benefits {
  &__list {
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  &__icon {
    background-color: colors.$primary;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    padding: 0.5em;
    margin-right: 1em;
  }
}

.section {
  margin-top: typography.$spacer;

  &__h2 {
    margin-left: 40vw;
    position: relative;
    padding-left: 1em;
  }
  &__h2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -40vw;
    width: 40vw;
    height: 1em;
    border-bottom: 1px solid colors.$secondary;
  }

  &__picture {
    position: relative;
  }
  &__picture {
    position: absolute;
  }

  &__img {
    width: 60%;
    &--booking {
      width: 100%;
    }
  }

  &__img--right {
    margin-left: 40%;
    margin-top: -48px;
    box-shadow: -16px -16px 0 colors.$primary;
  }

  &__motto {
    font-size: 24px;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    &--one {
      justify-content: flex-end;
    }
  }
}

.room {
  margin-top: typography.$spacer;

  &__h2 {
    margin-left: 10vw;
    position: relative;
    padding-left: 1em;
  }

  &__h2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -10vw;
    width: 10vw;
    height: 1em;
    border-bottom: 1px solid colors.$secondary;
  }

  &__img {
    width: calc(100% - 16px);
    margin-left: 16px;
    height: auto;
    box-shadow: -16px -16px 0 colors.$primary;
  }

  &__motto {
    font-weight: 600;
  }

  &__button {
    text-align: end;
  }
}

.price {
  background-color: colors.$primmaryVariant;
  border-top: 1px solid colors.$primary;
  border-bottom: 1px solid colors.$primary;
  font-size: 24px;
  font-weight: 600;
  color: colors.$secondary;
  text-align: center;
  padding: 1em 0;
  margin-bottom: typography.$spacerL;
}

.section-room {
  margin-top: typography.$spacerL;

  &__h2 {
    margin-left: 10vw;
    position: relative;
    padding-left: 1em;
  }

  &__h2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -10vw;
    width: 10vw;
    height: 1em;
    border-bottom: 1px solid colors.$secondary;
  }

  &__img {
    max-width: 100%;
  }
}

.footer {
  font-size: 14px;
  color: colors.$secondary;
  margin-top: typography.$spacerL;

  &__up {
    background-color: colors.$primmaryVariant;
    border: 1px solid colors.$primary;
    text-align: center;

    @media screen and (min-width: 370px) {
      text-align: left;
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: typography.$spacer/2;
    }
  }

  &__logo {
    display: none;

    @media screen and (min-width: 370px) {
      width: 100%;
      display: block;
      padding-left: typography.$spacer/2;
      margin-top: typography.$spacer;
    }
  }

  &__title {
    margin-top: typography.$spacer;
  }

  &__text {
    background-color: colors.$primmaryVariant;
  }

  &__address {
    list-style-type: none;
    padding: 0;
  }

  &__contact {
    list-style-type: none;
    padding: 0;
  }

  &__copyright {
    background-color: colors.$secondary;
    color: colors.$light;
    text-align: center;
    padding: 0.5rem 0;
  }

  &__link--contact {
    color: colors.$dark;
    text-decoration: none;
  }

  &__link {
    color: colors.$light;
  }

  &__heart {
    width: 1rem;
    height: 1rem;
    margin: auto 0.25rem -0.2rem auto;
  }
}
