---
layout: home.njk
title: Galerie
---

<header class="header">
  <h1>Galerie</h1>
</header>

<main class="main">
  <h2 class="section-room__h2">Interier</h2>
  <p>
    V přízemí pensionu je snídaňová místnost, kterou můžete použít i v průběhu
    dne na přípravu kávy, svačin nebo večerního posezení. Hosté z pokojů bez
    lednice si mohou uložit potraviny tam. K dispozici je jídelní židlička pro
    děti. V přízemí pensionu jsou toalety.
  </p>

  <div class="gallery gallery--mobile">
    <picture class="gallery__picture gallery__important"
      ><source srcset="/images/gallery/snidanova-mistnost.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/snidanova-mistnost.jpg"
        alt="Snídaňová místnost"
    /></picture>

    <picture class="gallery__picture"
      ><source srcset="/images/gallery/vyhled.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/vyhled.jpg"
        alt="Výhled z pokoje"
    /></picture>

    <picture class="gallery__picture gallery__high"
      ><source srcset="/images/gallery/kuchynka.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/kuchynka.jpg"
        alt="Snídaňová místnost"
    /></picture>

    <picture class="gallery__picture"
      ><source srcset="/images/gallery/mistnost.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/mistnost.jpg"
        alt="Snídaňová místnost"
    /></picture>

    <picture class="gallery__picture"
      ><source srcset="/images/gallery/betlem.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/betlem.jpg"
        alt="Snídaňová místnost"
    /></picture>
  </div>

  <div class="gallery gallery--large-screen">
    <a
      class="gallery__picture gallery__important"
      data-fslightbox="interior"
      href="/images/gallery/snidanova-mistnost.jpg"
    >
      <picture
        ><source srcset="/images/gallery/snidanova-mistnost.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/snidanova-mistnost.jpg"
          alt="Snídaňová místnost"
      /></picture>
    </a>

    <a
      class="gallery__picture"
      data-fslightbox="interior"
      href="/images/gallery/vyhled.jpg"
    >
      <picture
        ><source srcset="/images/gallery/vyhled.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/vyhled.jpg"
          alt="Výhled z pokoje"
      /></picture>
    </a>

    <a
      class="gallery__picture gallery__high"
      data-fslightbox="interior"
      href="/images/gallery/kuchynka.jpg"
    >
      <picture
        ><source srcset="/images/gallery/kuchynka.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/kuchynka.jpg"
          alt="Snídaňová místnost"
      /></picture>
    </a>

    <a
      class="gallery__picture"
      data-fslightbox="interior"
      href="/images/gallery/mistnost.jpg"
    >
      <picture
        ><source srcset="/images/gallery/mistnost.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/mistnost.jpg"
          alt="Snídaňová místnost"
      /></picture>
    </a>

    <a
      class="gallery__picture"
      data-fslightbox="interior"
      href="/images/gallery/betlem.jpg"
    >
      <picture
        ><source srcset="/images/gallery/betlem.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/betlem.jpg"
          alt="Snídaňová místnost" /></picture
    ></a>
  </div>

  <h2 class="section-room__h2">Venkovní prostory</h2>
  <p>
    V zahradě najdete různá místa k posezení, jezírko, bazén, mini koutek pro
    děti a gril. Bazén je zapuštěný, prosíme o hlídání dětí v jeho blízkosti.
    Schody jsou součástí bazénu, není nutné je při vstupu zdolávat. Vstup je
    pohodlnější a rychlejší pro Vás, ale i pro děti.
  </p>
  <p>
    Pokud budete chtít grilovat, tak nám to raději uveďte do rezervace nebo při
    příjezdu. Gril je k dispozici vždy, ale rezervací se nic nepokazí. Máte
    jistotu v klidném pěkném večeru.
  </p>
  <div class="gallery gallery--mobile">
    <picture class="gallery__picture gallery__important"
      ><source srcset="/images/gallery/schody-do-bazenu.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/schody-do-bazenu.jpg"
        alt="Bazén"
    /></picture>

    <picture class="gallery__picture"
      ><source srcset="/images/gallery/bazen.webp" />
      <img class="gallery__img" src="/images/gallery/bazen.jpg" alt="Bazén"
    /></picture>

    <picture class="gallery__picture gallery__high"
      ><source srcset="/images/gallery/sezeni-spodni.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/sezeni-spodni.jpg"
        alt="Posezení na zahradě s pergolou"
    /></picture>

    <picture class="gallery__picture"
      ><source srcset="/images/gallery/jezirko.webp" />
      <img class="gallery__img" src="/images/gallery/jezirko.jpg" alt="Jezírko"
    /></picture>

    <picture class="gallery__picture"
      ><source srcset="/images/gallery/puvodni-bazen.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/puvodni-bazen.jpg"
        alt="Zahrada - jezírko, pergoly, bazén"
    /></picture>

    <picture class="gallery__picture"
      ><source srcset="/images/gallery/spodni-zahrada.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/spodni-zahrada.jpg"
        alt="Zahrada - jezírko s posezením na spodní zahradě"
    /></picture>

    <picture class="gallery__picture gallery__high"
      ><source srcset="/images/gallery/sezeni-predni.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/sezeni-predni.jpg"
        alt="Posezení před penzionem"
    /></picture>

    <picture class="gallery__picture gallery__high"
      ><source srcset="/images/gallery/vchod.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/vchod.jpg"
        alt="Posezení před penzionem"
    /></picture>

    <picture class="gallery__picture"
      ><source srcset="/images/gallery/zahrada-detsky-koutek.webp" />
      <img
        class="gallery__img"
        src="/images/gallery/zahrada-detsky-koutek.jpg"
        alt="Dětský koutek"
    /></picture>
  </div>

  <div class="gallery gallery--large-screen">
    <a
      class="gallery__picture gallery__important"
      data-fslightbox="exterior"
      href="/images/gallery/schody-do-bazenu.jpg"
    >
      <picture
        ><source srcset="/images/gallery/schody-do-bazenu.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/schody-do-bazenu.jpg"
          alt="Bazén"
      /></picture>
    </a>
    <a
      class="gallery__picture"
      data-fslightbox="exterior"
      href="/images/gallery/bazen.jpg"
    >
      <picture
        ><source srcset="/images/gallery/bazen.webp" />
        <img class="gallery__img" src="/images/gallery/bazen.jpg" alt="Bazén"
      /></picture>
    </a>
    <a
      class="gallery__picture gallery__high"
      data-fslightbox="exterior"
      href="/images/gallery/sezeni-spodni.jpg"
    >
      <picture class="gallery__picture gallery__high"
        ><source srcset="/images/gallery/sezeni-spodni.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/sezeni-spodni.jpg"
          alt="Posezení na zahradě s pergolou"
      /></picture>
    </a>
    <a
      class="gallery__picture"
      data-fslightbox="exterior"
      href="/images/gallery/jezirko.jpg"
    >
      <picture
        ><source srcset="/images/gallery/jezirko.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/jezirko.jpg"
          alt="Jezírko"
      /></picture>
    </a>
    <a
      class="gallery__picture"
      data-fslightbox="exterior"
      href="/images/gallery/puvodni-bazen.jpg"
    >
      <picture
        ><source srcset="/images/gallery/puvodni-bazen.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/puvodni-bazen.jpg"
          alt="Zahrada - jezírko, pergoly, bazén"
      /></picture>
    </a>
    <a
      class="gallery__picture"
      data-fslightbox="exterior"
      href="/images/gallery/spodni-zahrada.jpg"
    >
      <picture
        ><source srcset="/images/gallery/spodni-zahrada.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/spodni-zahrada.jpg"
          alt="Zahrada - jezírko s posezením na spodní zahradě"
      /></picture>
    </a>
    <a
      class="gallery__picture gallery__high"
      data-fslightbox="exterior"
      href="/images/gallery/sezeni-predni.jpg"
    >
      <picture
        ><source srcset="/images/gallery/sezeni-predni.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/sezeni-predni.jpg"
          alt="Posezení před penzionem"
      /></picture>
    </a>
    <a
      class="gallery__picture gallery__high"
      data-fslightbox="exterior"
      href="/images/gallery/vchod.jpg"
    >
      <picture
        ><source srcset="/images/gallery/vchod.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/vchod.jpg"
          alt="Posezení před penzionem"
      /></picture>
    </a>
    <a
      class="gallery__picture"
      data-fslightbox="exterior"
      href="/images/gallery/zahrada-detsky-koutek.jpg"
    >
      <picture
        ><source srcset="/images/gallery/zahrada-detsky-koutek.webp" />
        <img
          class="gallery__img"
          src="/images/gallery/zahrada-detsky-koutek.jpg"
          alt="Dětský koutek"
      /></picture>
    </a>
  </div>
  <h2 class="section-room__h2">Pokoje</h2>

  <h3>Dvojlůžkový pokoj</h3>
  <button class="button button--hero foto__button--double">Ukázat fotky</button>
  <div class="foto__hidden--double">
    {% include 'partials/gallery-double.njk' %}
  </div>

  <h3>Dvojlůžkový pokoj s kuchyňkou</h3>
  <button class="button button--hero foto__button--kitchen">
    Ukázat fotky
  </button>
  <div class="foto__hidden--kitchen">
    {% include 'partials/gallery-double-kitchen.njk' %}
  </div>

  <h3>Třílůžkový pokoj</h3>
  <button class="button button--hero foto__button--tripple">
    Ukázat fotky
  </button>
  <div class="foto__hidden--tripple">
    {% include 'partials/gallery-tripple.njk' %}
  </div>

  <h3>Rodinný pokoj</h3>
  <button class="button button--hero foto__button--family">Ukázat fotky</button>
  <div class="foto__hidden--family">
    {% include 'partials/gallery-family.njk' %}
  </div>

  <h3>Malý pokoj</h3>
  <button class="button button--hero foto__button--small">Ukázat fotky</button>
  <div class="foto__hidden--small">
    {% include 'partials/gallery-small.njk' %}
  </div>
</main>
