<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.7.0/validator.min.js"></script>
    <title>{{ title }}</title>
    <meta
    name="description"
      content="Pension Gerta Český Krumlov = ideální ubytování pro Vaši dovolenou! Rodinný pension v klidné části města,
        nedaleko UNESCO centra."/> <!-- Google Fonts, Montserrat, PlayfairDisplay-->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Playfair+Display:wght@400;600&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  {% include "layouts/navigation.njk" %}
  <body id="body">
    {{ content | safe }}
    {% include "layouts/scroll-top.njk" %}
    {% include "layouts/footer.njk" %}
    <script src="/menu.js"></script>
    <script src="/form.js"></script>
    <script src="/fslightbox.js"></script>
    <script src="/gallery.js"></script>
  </body>
</html>