@use '../base/colors';
@use '../base/typography';
@use '../base/mixins';

.photoGallery__img {
  width: 100%;
  display: block;
  transition: transform 0.3s;
}

.photoGallery__info {
  text-align: center;
  margin: 0.5rem 0 1rem 0;
  font-size: typography.$small;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  margin: 0;
  transition: transform 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  color: colors.$light;
  padding: 0.5rem 0 0.5rem 0;
}

.photoGallery__picture {
  overflow: hidden;
  display: block;
  position: relative;
  margin-top: typography.$spacer;
}

.photoGallery__picture:hover .photoGallery__info {
  transform: translateY(-100%);
}

.section-room__gallery {
  grid-column: 2/-1;
  @include mixins.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: typography.$spacer;
  }
  @include mixins.large {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.align-start {
  align-self: flex-start;
}
