@use '../base/colors';
@use '../base/typography';
@use '../base/mixins';

.contact {
  &__list {
    list-style-type: none;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: colors.$dark;
    text-decoration: none;
    @include mixins.special(900px) {
      font-size: typography.$xLarge;
    }
    @include mixins.large {
      font-size: typography.$xxLarge;
    }
  }

  &__icon {
    background-color: colors.$primary;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    padding: 0.5em;
    margin-right: 1em;

    &--email {
      display: none;

      @media screen and (min-width: 330px) {
        display: inline-block;
      }
    }
  }
}

.map-box {
  &--mobile {
    width: 100%;

    @media screen and (min-width: 500px) {
      display: none;
    }
  }
  &--xl {
    display: none;
    @media screen and (min-width: 500px) {
      display: inline-block;
      width: 100%;
    }
  }
}
