@use '../base/colors';
@use '../base/typography';
@use '../base/mixins';

.contact {
  &__list {
    list-style-type: none;
  }

  &-site__link {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: colors.$secondary;
    font-weight: 600;
    text-decoration: none;

    &:hover,
    &:focus {
      color: colors.$primary;
    }
  }

  &__icon {
    background-color: colors.$primary;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    padding: 0.5em;
    margin-right: 1em;

    &--email {
      display: none;

      @media screen and (min-width: 330px) {
        display: inline-block;
      }
    }
  }

  &__address {
    list-style-type: none;
    padding: 0;
  }

  &__contact {
    list-style-type: none;
    padding: 0;

    @include mixins.special(1000px) {
      margin-top: 0;
    }
  }

  &__link--contact {
    color: colors.$secondary;
    font-weight: 600;
    text-decoration: none;
  }
}

.map-box {
  &--mobile {
    width: 100%;

    @media screen and (min-width: 500px) {
      display: none;
    }
  }
  &--xl {
    display: none;
    @media screen and (min-width: 500px) {
      display: inline-block;
      width: 100%;
    }
  }
}

.no-margin-top {
  @include mixins.special(900px) {
    margin-top: 0;
  }
}
