@use '../base/colors';
@use '../base/typography';
@use '../base/mixins';

.room {
  &__img {
    width: calc(100% - 16px);
    margin-left: 16px;
    height: auto;
    box-shadow: -16px -16px 0 colors.$primary;
  }

  &__motto {
    font-weight: 600;
    @include mixins.special(900px) {
      margin-top: 0;
    }
  }
}

.section-room {
  &__img {
    max-width: 100%;
  }
}
