@use '../base/colors';
@use '../base/typography';

.room {
  margin-top: typography.$spacer;

  &__h2 {
    margin-left: 10vw;
    position: relative;
    padding-left: 1em;
  }

  &__h2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -10vw;
    width: 10vw;
    height: 1em;
    border-bottom: 1px solid colors.$secondary;
  }

  &__img {
    width: calc(100% - 16px);
    margin-left: 16px;
    height: auto;
    box-shadow: -16px -16px 0 colors.$primary;
  }

  &__motto {
    font-weight: 600;
  }
}

.price {
  background-color: colors.$primaryVariant;
  border-top: 1px solid colors.$primary;
  border-bottom: 1px solid colors.$primary;
  font-size: 24px;
  font-weight: 600;
  color: colors.$secondary;
  text-align: center;
  padding: 1em 0;
  margin-bottom: typography.$spacerL;
}

.section-room {
  margin-top: typography.$spacerL;

  &__h2 {
    margin-left: 10vw;
    position: relative;
    padding-left: 1em;
  }

  &__h2::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -10vw;
    width: 10vw;
    height: 1em;
    border-bottom: 1px solid colors.$secondary;
  }

  &__img {
    max-width: 100%;
  }
}
