 <div class="gallery">

      <picture  class="gallery__picture gallery__important" ><source srcset="/images/rooms/double-kitchen/dvojluzkovy-pokoj-s-kuchynkou.webp" />
        <img class="gallery__img" src="/images/rooms/double-kitchen/dvojluzkovy-pokoj-s-kuchynkou.jpg"
          alt="Dvojlůžkový pokoj s kuchyňkou - pohled na postele"
      /></picture>

      <picture  class="gallery__picture gallery__high"><source srcset="/images/rooms/double-kitchen/kuchynka.webp" />
        <img class="gallery__img" src="/images/rooms/double-kitchen/kuchynka.jpg"
          alt="Dvojlůžkový pokoj s kuchyňkou - pohled na kuchyňku"
      /></picture>

         <picture  class="gallery__picture gallery__high"><source srcset="/images/rooms/double-kitchen/koupelna.webp" />
        <img class="gallery__img" src="/images/rooms/double-kitchen/koupelna.jpg"
          alt="Dvojlůžkový pokoj s kuchyňkou - koupelna"
      /></picture>

      <picture  class="gallery__picture"><source srcset="/images/rooms/double-kitchen/pokoj-s-kuchynkou.webp" />
        <img class="gallery__img" src="/images/rooms/double-kitchen/pokoj-s-kuchynkou.jpg"
          alt="Dvojlůžkový pokoj s kuchyňkou - pohled na postele"
      /></picture>

     <picture  class="gallery__picture gallery__high"><source srcset="/images/rooms/double-kitchen/pohled-do-okna.webp" />
        <img class="gallery__img" src="/images/rooms/double-kitchen/pohled-do-okna.jpg"
          alt="Dvojlůžkový pokoj s kuchyňkou - pohled do okna"
      /></picture>

      <picture  class="gallery__picture"><source srcset="/images/rooms/double-kitchen/posezeni.webp" />
        <img class="gallery__img" src="/images/rooms/double-kitchen/posezeni.jpg"
          alt="Dvojlůžkový pokoj s kuchyňkou - posezení"
      /></picture>

    


    </div>