<div class="gallery gallery--mobile">
  <picture class="gallery__picture gallery__important"><source srcset="/images/rooms/family/rodinny-pokoj.webp"/>
    <img class="gallery__img" src="/images/rooms/family/rodinny-pokoj.jpg" alt="Rodinný pokoj pohled do pokojů"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/family/rodinny-deti.webp"/>
    <img class="gallery__img" src="/images/rooms/family/rodinny-deti.jpg" alt="První místnost pro děti"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/family/rodinny-rodice.webp"/>
    <img class="gallery__img" src="/images/rooms/family/rodinny-rodice.jpg" alt="Druhá místnost pro rodiče"/>
  </picture>
  <picture class="gallery__picture gallery__important"><source srcset="/images/rooms/family/vyhled.webp"/>
    <img class="gallery__img" src="/images/rooms/family/vyhled.jpg" alt="Výhled z rodinného pokoje"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/family/rodinny-koupelny.webp"/>
    <img class="gallery__img" src="/images/rooms/family/rodinny-koupelny.jpg" alt="Pohled do obou koupelen"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/family/koupelna-deti.webp"/>
    <img class="gallery__img" src="/images/rooms/family/koupelna-deti.jpg" alt="Koupelna pohled na okno"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/family/koupelna-rodinny.webp"/>
    <img class="gallery__img" src="/images/rooms/family/koupelna-rodinny.jpg" alt="Koupelna pohled na sprchový kout"/>
  </picture>
</div>
<div class="gallery gallery--large-screen">
  <a class="gallery__picture gallery__important" data-fslightbox="family" href="/images/rooms/family/rodinny-pokoj.jpg">
    <picture><source srcset="/images/rooms/family/rodinny-pokoj.webp"/>
      <img class="gallery__img" src="/images/rooms/family/rodinny-pokoj.jpg" alt="Rodinný pokoj pohled do pokojů"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="family" href="/images/rooms/family/rodinny-deti.jpg">
    <picture><source srcset="/images/rooms/family/rodinny-deti.webp"/>
      <img class="gallery__img" src="/images/rooms/family/rodinny-deti.jpg" alt="První místnost pro děti"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="family" href="/images/rooms/family/rodinny-rodice.jpg">
    <picture><source srcset="/images/rooms/family/rodinny-rodice.webp"/>
      <img class="gallery__img" src="/images/rooms/family/rodinny-rodice.jpg" alt="Druhá místnost pro rodiče"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__important" data-fslightbox="family" href="/images/rooms/family/vyhled.jpg">
    <picture><source srcset="/images/rooms/family/vyhled.webp"/>
      <img class="gallery__img" src="/images/rooms/family/vyhled.jpg" alt="Výhled z rodinného pokoje"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="family" href="/images/rooms/family/rodinny-koupelny.jpg">
    <picture><source srcset="/images/rooms/family/rodinny-koupelny.webp"/>
      <img class="gallery__img" src="/images/rooms/family/rodinny-koupelny.jpg" alt="Pohled do obou koupelen"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="family" href="/images/rooms/family/koupelna-deti.jpg">
    <picture><source srcset="/images/rooms/family/koupelna-deti.webp"/>
      <img class="gallery__img" src="/images/rooms/family/koupelna-deti.jpg" alt="Koupelna pohled na okno"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="family" href="/images/rooms/family/koupelna-rodinny.jpg">
    <picture><source srcset="/images/rooms/family/koupelna-rodinny.webp"/>
      <img class="gallery__img" src="/images/rooms/family/koupelna-rodinny.jpg" alt="Koupelna pohled na sprchový kout"/>
    </picture>
  </a>
</div>