<div class="gallery gallery--mobile">
  <picture class="gallery__picture gallery__important"><source srcset="/images/rooms/small/mensi.webp"/>
    <img class="gallery__img" src="/images/rooms/small/mensi.jpg" alt="Menší pokoj"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/small/koupelna.webp"/>
    <img class="gallery__img" src="/images/rooms/small/koupelna.jpg" alt="Koupelna"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/small/skrin.webp"/>
    <img class="gallery__img" src="/images/rooms/small/skrin.jpg" alt="Menší pokoj - pohled na skříň"/>
  </picture>
  <picture class="gallery__picture gallery__important"><source srcset="/images/rooms/small/jednoluzkovy.webp"/>
    <img class="gallery__img" src="/images/rooms/small/jednoluzkovy.jpg" alt="Menší pokoj - jednolůžkový"/>
  </picture>
  <picture class="gallery__picture gallery__important"><source srcset="/images/rooms/small/pokoj-mensi.webp"/>
    <img class="gallery__img" src="/images/rooms/small/pokoj-mensi.jpg" alt="Menší pokoj"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/small/pokoj.webp"/>
    <img class="gallery__img" src="/images/rooms/small/pokoj.jpg" alt="Menší pokoj"/>
  </picture>
</div>
<div class="gallery gallery--large-screen">
  <a class="gallery__picture gallery__important" data-fslightbox="small" href="/images/rooms/small/mensi.jpg">
    <picture><source srcset="/images/rooms/small/mensi.webp"/>
      <img class="gallery__img" src="/images/rooms/small/mensi.jpg" alt="Menší pokoj"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="small" href="/images/rooms/small/koupelna.jpg">
    <picture><source srcset="/images/rooms/small/koupelna.webp"/>
      <img class="gallery__img" src="/images/rooms/small/koupelna.jpg" alt="Koupelna"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="small" href="/images/rooms/small/skrin.jpg">
    <picture><source srcset="/images/rooms/small/skrin.webp"/>
      <img class="gallery__img" src="/images/rooms/small/skrin.jpg" alt="Menší pokoj - pohled na skříň"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__important" data-fslightbox="small" href="/images/rooms/small/jednoluzkovy.jpg">
    <picture><source srcset="/images/rooms/small/jednoluzkovy.webp"/>
      <img class="gallery__img" src="/images/rooms/small/jednoluzkovy.jpg" alt="Menší pokoj - jednolůžkový"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__important" data-fslightbox="small" href="/images/rooms/small/pokoj-mensi.jpg">
    <picture><source srcset="/images/rooms/small/pokoj-mensi.webp"/>
      <img class="gallery__img" src="/images/rooms/small/pokoj-mensi.jpg" alt="Menší pokoj"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="small" href="/images/rooms/small/pokoj.jpg">
    <picture><source srcset="/images/rooms/small/pokoj.webp"/>
      <img class="gallery__img" src="/images/rooms/small/pokoj.jpg" alt="Menší pokoj"/>
    </picture>
  </a>
</div>