<div class="gallery gallery--mobile">
  <picture class="gallery__picture gallery__important"><source srcset="/images/rooms/double/vyhled-dvojluzkovy-pokoj.webp"/>
    <img
      class="gallery__img"
      src="/images/rooms/double/vyhled-dvojluzkovy-pokoj.jpg"
      alt="Dvojlůžkový pokoj s výhledem na Český Krumlov"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/double/koupelna.webp"/>
    <img class="gallery__img" src="/images/rooms/double/koupelna.jpg" alt="Dvojlůžkový pokoj - koupelna"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/double/dvojluzkovy-pokoj-sezeni.webp"/>
    <img
      class="gallery__img"
      src="/images/rooms/double/dvojluzkovy-pokoj-sezeni.jpg"
      alt="Dvojlůžkový pokoj pohled na stůl"/>
  </picture>
  <picture class="gallery__picture gallery__important"><source srcset="/images/rooms/double/pokoj-dvojluzkovy.webp"/>
    <img
      class="gallery__img"
      src="/images/rooms/double/pokoj-dvojluzkovy.jpg"
      alt="Dvojlůžkový pokoj - pohled na celý pokoj"/>
  </picture>
  <picture class="gallery__picture gallery__important"><source srcset="/images/rooms/double/dvojluzkovy-pokoj.webp"/>
    <img
      class="gallery__img"
      src="/images/rooms/double/dvojluzkovy-pokoj.jpg"
      alt="Dvojlůžkový pokoj - pohled na postel a okno"/>
  </picture>
  <picture class="gallery__picture gallery__high"><source srcset="/images/rooms/double/vyhled-dvojluzkovy.webp"/>
    <img class="gallery__img" src="/images/rooms/double/vyhled-dvojluzkovy.jpg" alt="Dvojlůžkový pokoj - výhled"/>
  </picture>
</div>
<div class="gallery gallery--large-screen">
  <a
    class="gallery__picture gallery__important"
    data-fslightbox="double"
    href="/images/rooms/double/vyhled-dvojluzkovy-pokoj.jpg">
    <picture><source srcset="/images/rooms/double/vyhled-dvojluzkovy-pokoj.webp"/>
      <img
        class="gallery__img"
        src="/images/rooms/double/vyhled-dvojluzkovy-pokoj.jpg"
        alt="Dvojlůžkový pokoj s výhledem na Český Krumlov"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="double" href="/images/rooms/double/koupelna.jpg">
    <picture><source srcset="/images/rooms/double/koupelna.webp"/>
      <img class="gallery__img" src="/images/rooms/double/koupelna.jpg" alt="Dvojlůžkový pokoj - koupelna"/>
    </picture>
  </a>
  <a
    class="gallery__picture gallery__high"
    data-fslightbox="double"
    href="/images/rooms/double/dvojluzkovy-pokoj-sezeni.jpg">
    <picture><source srcset="/images/rooms/double/dvojluzkovy-pokoj-sezeni.webp"/>
      <img
        class="gallery__img"
        src="/images/rooms/double/dvojluzkovy-pokoj-sezeni.jpg"
        alt="Dvojlůžkový pokoj pohled na stůl"/>
    </picture>
  </a>
  <a
    class="gallery__picture gallery__important"
    data-fslightbox="double"
    href="/images/rooms/double/pokoj-dvojluzkovy.jpg">
    <picture><source srcset="/images/rooms/double/pokoj-dvojluzkovy.webp"/>
      <img
        class="gallery__img"
        src="/images/rooms/double/pokoj-dvojluzkovy.jpg"
        alt="Dvojlůžkový pokoj - pohled na celý pokoj"/>
    </picture>
  </a>
  <a
    class="gallery__picture gallery__important"
    data-fslightbox="double"
    href="/images/rooms/double/dvojluzkovy-pokoj.jpg">
    <picture><source srcset="/images/rooms/double/dvojluzkovy-pokoj.webp"/>
      <img
        class="gallery__img"
        src="/images/rooms/double/dvojluzkovy-pokoj.jpg"
        alt="Dvojlůžkový pokoj - pohled na postel a okno"/>
    </picture>
  </a>
  <a class="gallery__picture gallery__high" data-fslightbox="double" href="/images/rooms/double/vyhled-dvojluzkovy.jpg">
    <picture><source srcset="/images/rooms/double/vyhled-dvojluzkovy.webp"/>
      <img class="gallery__img" src="/images/rooms/double/vyhled-dvojluzkovy.jpg" alt="Dvojlůžkový pokoj - výhled"/>
    </picture>
  </a>
</div>