@use '../base/colors';
@use '../base/typography';
@use '../base/mixins';

.footer {
  font-size: 14px;
  color: colors.$secondary;
  margin-top: typography.$spacerL;

  &__up {
    background-color: colors.$primaryVariant;
    border: 1px solid colors.$primary;
    text-align: center;

    @include mixins.special(370px) {
      text-align: left;
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: typography.$spacer/2;
    }

    @include mixins.tablet {
      grid-template-columns: 1fr 120px 300px 1fr;
      gap: typography.$spacer;
    }

    @include mixins.special(1000px) {
      grid-template-columns: 1fr 80px 420px 1fr;
      padding: typography.$spacer * 2;
    }
  }

  &__logo {
    display: none;

    @include mixins.special(370px) {
      width: 100%;
      display: block;
      padding-left: typography.$spacer/2;
      margin-top: 50px;
    }

    @include mixins.tablet {
      grid-column: 2 / 3;
    }

    @include mixins.special(1000px) {
      margin-top: typography.$spacer/2;
    }
  }

  &__title {
    margin-top: typography.$spacer;
    @include mixins.special(1000px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__text {
    background-color: colors.$primaryVariant;

    @include mixins.special(1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: typography.$spacer;
    }
  }

  &__address {
    list-style-type: none;
    padding: 0;
  }

  &__contact {
    list-style-type: none;
    padding: 0;

    @include mixins.special(1000px) {
      margin-top: 0;
    }
  }

  &__copyright {
    background-color: colors.$secondary;
    color: colors.$light;
    text-align: center;
    padding: 0.5rem 0;
  }

  &__link--contact {
    color: colors.$dark;
    text-decoration: none;
  }

  &__link {
    color: colors.$light;
  }

  &__heart {
    width: 1rem;
    height: 1rem;
    margin: auto 0.25rem -0.2rem auto;
  }
}
