@use '../base/colors';
@use '../base/typography';

.menu {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  line-height: 40px;

  &__logo {
    position: absolute;
    top: 17.5px;
    left: 0;
    width: 60px;
    height: 75px;
    padding-bottom: 17.5px;
    background-color: colors.$secondary;
    border-radius: 0 0 10px 10px;
  }

  &__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 0;

    &--language {
      font-size: 16px;
      padding: 0;
    }

    &--map {
      border-radius: 0 0 0 10px;
      padding-left: 0.5rem;
    }

    &--contact {
      padding-right: 1rem;
    }

    &--menu {
      padding-right: 0;
    }
  }

  &__link {
    color: colors.$light;
    text-decoration: none;
  }

  &__up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: colors.$secondary;
    color: colors.$secondary;
    margin: 0;
    padding: 0;
    border-radius: 0 0 0 10px;
    font-size: 12px;
  }

  &__down {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: colors.$secondary;
    color: colors.$light;
    margin: 0;
    padding: 0;
  }
}

.menu__up .menu__item {
  background-color: colors.$light;
}

.menu__link--covid,
.menu__link--map,
.menu__link--call {
  color: colors.$secondary;
  display: flex;
  align-items: center;
}

.menu__hide {
  display: none;
}

.menu-opened {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  height: 90vh;
  margin: 0 0 10vh 15vw;
  line-height: 8vh;
  padding: 0;
  right: 0;
  z-index: 100;
  background-color: colors.$secondary;
  box-shadow: -16px 16px 0 colors.$primary;
  font-weight: 500;
}

.menu__cross {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: 50px;
  height: 50px;
}

.menu__item--home {
  margin-bottom: 8vh;
  margin-top: 8vh;
}

.rooms-menu-opened {
  position: absolute;
  top: 16vh;
  text-align: center;
  z-index: 1000;
  display: block;
  width: 85vw;
  line-height: 8vh;
}

.menu__item--booking {
  margin-top: 8vh;
}

.contact-menu-opened {
  position: absolute;
  top: 72vh;
  text-align: center;
  z-index: 1000;
  display: block;
  width: 85vw;
  font-weight: 500;
  line-height: 8vh;
}
