@use '../base/colors';
@use '../base/typography';
@use '../base/mixins';

.scroll-top {
  position: fixed;
  right: typography.$spacer;
  bottom: typography.$spacer;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background-color: colors.$primary;
  border: 2px solid colors.$primaryDark;
  box-shadow: 3px 3px 5px colors.$secondary;
  z-index: 1000;

  &__icon {
    fill: colors.$light;
    width: 2rem;
    height: 2rem;
    transform: rotate(180deg);
  }
  &:hover {
    background: linear-gradient(45deg, colors.$primaryDark, colors.$primary);
  }

  &:active {
    box-shadow: 1px 1px 3px colors.$secondary;
    transform: translate(2px, 2px);
  }
}
