@use '../base/colors';
@use '../base/typography';

button {
  text-transform: uppercase;
  background-color: colors.$primary;
  color: colors.$light;
  font-weight: 600;
  font-family: typography.$font-default;
  padding: 0.7rem 1.4rem;
  box-shadow: 3px 3px 5px colors.$secondary;

  &:hover {
    box-shadow: 2px 2px 2px colors.$secondary;
  }
}

.button {
  &__link {
    color: colors.$light;
    text-decoration: none;
  }
}

.button--secondary {
  background-color: transparent;
  color: colors.$secondary;
  border: 1px solid colors.$secondary;
}

.section__buttons {
  display: flex;
  justify-content: space-between;
  &--one {
    justify-content: flex-end;
  }
}

.room__button {
  text-align: end;
}
