@use '../base/colors';
@use '../base/typography';

.button {
  text-transform: uppercase;
  background-color: colors.$primary;
  border: 2px solid colors.$primaryDark;
  color: colors.$light;
  font-weight: 600;
  font-family: typography.$font-default;
  padding: 0.7rem 1.4rem;
  box-shadow: 3px 3px 5px colors.$secondary;

  &:hover {
    background: linear-gradient(45deg, colors.$primaryDark, colors.$primary);
  }

  &:active {
    box-shadow: 1px 1px 3px colors.$secondary;
    transform: translate(2px, 2px);
  }

  &__link {
    color: colors.$light;
    text-decoration: none;
  }
}

.button--secondary {
  background-color: transparent;
  color: colors.$secondary;
  border: 1px solid colors.$secondary;

  &:hover {
    background: linear-gradient(45deg, colors.$primaryVariant, colors.$primary);
  }
}

.section__buttons {
  display: flex;
  justify-content: space-between;
  &--one {
    justify-content: flex-end;
  }
}

.button--right {
  text-align: end;
}
