<footer class="footer">
  <div class="footer__up">
    <img class="footer__logo" src="/images/logoDark.svg" alt="Logo Pension Gerta Český Krumlov"/>
    <div class="footer__text">
      <div class="footer__left">
        <h3 class="footer__title">Pension Gerta</h3>
        <ul class="footer__address">
          <li>Středová 487</li>
          <li>Český Krumlov 381 01</li>
        </ul>
      </div>
      <ul class="footer__contact">
        <li>
          Telefon:
          <a class="footer__link--contact" href="tel:+420380711979">+420 380 711 979</a>
        </li>
        <li>
          Mobil:
          <a class="footer__link--contact" href="tel:+420777078309">+420 777 078 309</a>
        </li>
        <li>
          E-Mail:
          <a class="footer__link--contact" href="mailto: pension.gerta@seznam.cz">
            pension.gerta@seznam.cz</a>
        </li>
        <li>Recepce: 8:00 - 20:00</li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright">
    &copy Gerta.cz 2021 Made with
    <a class="footer__link" href="https://slavkavav.cz/" target="_blank" rel="noopener">
      <img class="footer__heart" src="/images/heart.svg" alt="Ikona srdce"/>SlavkaVav</a>
  </div>
</footer>