<nav>
  <div class="menu">
    <ul class="menu__up" id="menu__up">
      <li class="menu__item menu__item--map">
        <a class="menu__link menu__link--map" href="https://goo.gl/maps/ZgsGDbw5X8nvqnFf7" target="_blanc">
          navigovat<img src="/images/map.svg" alt="Ikona navigovat"/></a>
      </li>
      <li class="menu__item menu__item--call">
        <a class="menu__link menu__link--map" href="tel:+420777078309">
          volat<img src="/images/phone.svg" alt="Ikona volat"/></a>
      </li>
      <li class="menu__item menu__item--language" id="language">
        CZ<svg
          class="icon-open-svg"
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewbox="0 0 24 24"
          width="24px"
          fill="#66462C">
          <path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/>
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/>
        </svg>
      </li>
    </ul>
    <ul class="language-select--hidden" id="language__select">
      <li>
        <a class="language-select__link" href="/">CZ</a>
      </li>
      <li>
        <a class="language-select__link" href="/an">AN</a>
      </li>
      <li>
        <a class="language-select__link" href="/de">DE</a>
      </li>
    </ul>
    <ul class="menu__down">
      <li class="menu__item menu__item--rooms" id="rooms">
        <a class="menu__link" href="/pokoje">
          pokoje</a>
      </li>
      <li class="menu__item menu__item--logo">
        <a class="menu__link" href="/">
          <img id="logo" class="menu__logo" src="/images/logo.svg" alt="Logo penzion Gerta Český Krumlov"/>
        </a>
      </li>
      <li class="menu__item menu__item--contact" id="contact">
        <a class="menu__link" href="/kontakt">kontakt</a>
      </li>
      <li class="menu__item menu__item--menu" id="menu__button">
        menu <img src="/images/menu.svg" alt="Ikona menu"/>
      </li>
    </ul>
    <ul class="menu__hide" id="menu__open">
      <img class="menu__cross" id="cross" src="/images/cross.svg" alt="Ikona křížek"/>
      <li class="menu__item menu__item--home">
        <a class="menu__link" href="/">domů</a>
      </li>
      <li class="menu__item menu__item--gallery">
        <a class="menu__link" href="/galerie">galerie</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/onas">o nás</a>
      </li>
      <li class="menu__item menu__item--trips">
        <a class="menu__link" href="/vylety">výlety</a>
      </li>
      <li class="menu__item menu__item--covid">
        <a class="menu__link" href="/covid">
          covid-19 info</a>
      </li>
      <li class="menu__item menu__item--booking">
        <a class="menu__link" href="/rezervace">rezervace</a>
      </li>
    </ul>
  </div>
</nav>